@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');

@tailwind base;
@tailwind components;


@layer base{    
    @font-face {
      font-family: "BigSpace";
      src: local('BigSpace'),url('./fonts/BigSpace-rPKx.ttf') format("ttf");
      font-weight: normal;
    }
    @font-face {
      font-family: "Nasalization";
      src: url('./fonts/nasalization-rg.otf') format("otf");
      font-weight: normal;
    }
    @font-face {
      font-family: "EvilEmpire";
      src: url('./fonts/evil-empire.regular.otf') format("otf");
      font-weight: normal;
    }
    @font-face {
        font-family: "Evil";
        src: url('./fonts/Evil\ Empire.otf') format("otf");
    }
    @font-face {
        font-family: "Mioge";
        src: url('./fonts/Mioge\ Free\ Trial\ 400.ttf');
    }
    @font-face {
        font-family: "Evil400";
        src: url('./fonts//Evil\ Empire\ 400.otf');
    }
    @font-face {
      font-family: "Pilot";
      src: url('./fonts/pilotcommand1_2.ttf');
    }
}
/* 
.font-evilempire{
    font-family: "EvilEmpire";
} */

body{
  /* background-color: black; */
}

.home{
  background-image: url('./assets/images/home1.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.animate-line{
  animation: animate-line 750ms ease-out forwards;
  transition: all 350ms ease-out;
  transform-origin: center;
}

.animate-header{
  animation: animate-header 350ms ease-out forwards;
  transition: all 350ms ease-out;
  animation-delay: 750ms;
  opacity: 0;
}
.animate-subheader{
  animation: animate-subheader 350ms ease-out forwards;
  transition: all 350ms ease-out;
  animation-delay: 750ms;
  opacity: 0;
}
.animate-sidebar{
  animation: animate-sidebar 350ms ease-out forwards;
  transition: all 350ms ease-out;
  animation-delay: 1100ms;
  transform: translateX(-100%);
  display: none;
}

@keyframes animate-header{
  0%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animate-subheader{
  0%{
    opacity: 0;
    transform: translateY(-20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animate-line{
  0%{
    width: 0;
  }
  100%{
    width: 40%;
  }
}

@keyframes animate-sidebar{
  0%{
    transform: translateX(-100%);
    display: none;
  }
  100%{
    transform: translateX(0%);
    display: flex;
  }
}


@tailwind utilities;